*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;

}
body{
    height: 100%;
    width: 100%;

}
.container{
    max-width: 70vw;
    padding: 2rem ,1rem;
    margin: 0 auto;
    /* background-color: aqua; */


}
a{
    text-decoration: none;
}
.header_container{
    margin-bottom: 2.5rem;
}
.header_title{
    margin-bottom: 1rem;
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;

}
.header_desc{
    max-width: 568px;
    align-items: center;
    color: rgb(114, 92, 92);
    margin: 0 auto;
    overflow: hidden;
}
.main_container{
    display: grid;
    gap: 1.5rem;
    /* grid-template-columns: repeat(4,1fr); */
    grid-template-columns: repeat(1,1fr);
    /* grid-template-columns: repeat(auto-fit , minmax(350px ,400px) );
    justify-content: center;
    */
}
@media (min-width:650px){
    .main_container{
     grid-template-columns: repeat(2,1fr);
    }
 }
 @media (min-width:1080px){
     .main_container{
      grid-template-columns: repeat(3,1fr);
     }
  }
  @media (min-width:1350px){
     .main_container{
      grid-template-columns: repeat(4,1fr);
     }
  }
.card_container{
    display: flex;
    flex-direction: column;
    border:  1px solid rgb(106, 100, 100) ;
    border-radius: 5px;
    overflow: hidden;
}
.card_image_container{
    position: relative;
    overflow: hidden;
    height: 11rem;

}
@media (min-width:768px){
    .card_image_container{
        height: 16rem;
    }
}
.card_image{
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;

}
.card_title_container{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}
.card_container:hover .card_image{
    transform: scale(1.1);
    transition-duration: 200ms;
}
.card_title{
    font-size: 1rem;
    font-weight: 600;
    margin: 0.3rem;
    line-height: 1.5rem;
    color: rgb(23, 22, 22);
}
.card_title_anchor:hover .card_title{
    color: blue;
}
.card_desc{
    color: rgb(117, 106, 106);
    font-size: 1rem;

}
.card_footer_container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;  
  
    padding: 1.5rem-;

}
.author_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.author_avtar_container{
    /* height: 2.5rem;
    width: 2.5rem; */
   overflow: hidden;
    border: 1px solid black;
    border-radius: 50%;
    background-color: grey;
}
.author_info_container{
    display: flex;
    flex-direction: column;

}
.author_name{
    color: rgb(25, 25, 76);
}
.author_date{
    color: rgb(230, 200, 200);
}

.card_tag_container{
    font-size: 0.9rem;
    border: 1px solid rgb(101, 95, 95);
    border-radius: 2px;
    line-height: 1.3rem;
    padding: 0.25rem 0.5rem;
    color: grey;
    

}
